@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);

body {
    background-color: #eee;
    margin: 0;
    overflow: hidden;
}

.invisible_space {
    height: 50px;
}

header {
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    position: fixed;
    border-bottom: 1px solid rgba(230, 230, 230, 0.5);
    z-index: 100;
}

header ul {
    height: 100%;
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

header ul li {
    padding: 0 15px;
    display: inline-block;
}

header ul li, header ul li a {
    text-decoration: none;
    list-style-type: none;
    color: #366BFF;
    line-height: 50px;
}

header ul li:hover a {
    color: #4817CC;
    cursor: pointer;
}

#header-posts {
    background-color: rgba(249, 249, 249, 0.98);
    border-bottom: 1px solid rgba(220, 220, 220, 0.5);
}

#header-posts ul li {
    color: #2850BF;
}

#logo-img {
    max-height: 70%;
    vertical-align: middle;
    margin-left: -5px;
}

.fa {
    padding-right: 5px;
}

.scroll-container {
    overflow: scroll;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    padding-top: 50px;
    height: 100%;
    z-index: 0;
}


/* POSTS */

#content {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    top: 0;
}

#posts_list_div {
    display: inline-block;
}

#posts_list_div #all_posts {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.post {
    margin-bottom: 1px;
    padding: 20px;
    background-color: #f8f8f8;
    font-family: 'Open Sans', sans-serif;
}

.post.active {
    background-color: #E3EFFF;
}

.post:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.post_header {
    font-size: 16px;
    vertical-align: top;
    font-style: italic;
}

.post_subreddit {
    margin-top: 10px;
    font-weight: lighter;
}

.post_subreddit a {
    text-decoration: none;
}

.post_subreddit a:hover {
    font-weight: normal;
}

.post_subreddit.worldnews a {
    color: #4183D7;
}

.post_subreddit.news a {
    color: #EB974E;

}

.post_subreddit.science a {
    color: #3FC380;

}

.post_subreddit.tech a {
    color: #D64541;
}


/* ARTICLE DIV */

#article_div {
    position: absolute;
    display: inline-block;
    background-color: #fff;
    width: 700px;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
}

#article_div .scroll-container {
    width: 100%;
}

#article_div #article {
    display: block;
    padding: 10px 20px;
    max-width: 800px;
}

#article_div #article #article-title {
    margin-top: 0;
}

#article_div #article #article-image {
    max-width: 98%;
}

#article_div #article #article-text {
    line-height: 150%;
    margin-top: 20px;
}

.cover_article-div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding-left: 15px;
    background-color: #fff;
}

#article_div #loading-screen {
    background-color: #fff;
    display: none;
}

#article_div #error_display {
    display: none;
    font-style: italic;
}


/* SIDEBAR */

#sidebar {
    display: none;
    height: 100%;
    background-color: #222;
    position: absolute;
    top: 0;
    width: 200px;
}

#sidebar #close_button {
    height: 60px;
    line-height: 60px;
    background-color: #E23B4D;
    color: #fff;
    padding-left: 15px;
    font-weight: bold;
    cursor: pointer;
}

#sidebar #close_button:hover {
    background-color: #F94B35;
}

.menu {
    height: 40px;
    padding: 0;
}

.menu li {
    height: 100%;
    line-height: 40px;
    list-style: none;
    padding-left: 15px;
}

.menu li a {
    color: #366BFF;
    text-decoration: none;
}

.menu li a:hover {
    color: #4817CC;
}
