@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);

body {
    background-color: #eee;
    margin: 0;
    overflow: hidden;
}


/* HEADERS */

.invisible_space {
    height: 50px;
}

header {
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    border-bottom: 1px solid rgba(230, 230, 230, 0.5);
}

header ul {
    height: 100%;
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

header ul li {
    padding: 0 15px;
    display: inline-block;
}

header ul li, header ul li a {
    text-decoration: none;
    list-style-type: none;
    color: #366BFF;
    line-height: 50px;
}

header ul li:hover {
    cursor: pointer;
}

header ul li:hover a {
    color: #4817CC;
}

#header-posts {
    background-color: rgba(249, 249, 249, 0.95);
    border-bottom: 1px solid rgba(220, 220, 220, 0.5);
    z-index: 20;
}

#header-posts ul li {
    color: #2850BF;
}

#header-article {
    z-index: 100;
}

#logo-img {
    height: 37px;
    vertical-align: middle;
    margin-left: -5px;
}

/* CLASSES */

.fa {
    padding-right: 5px;
}

.scroll-container {
    overflow: scroll;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 0;
}


/* POSTS */

#content {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    top: 0;
}

#posts_list_div {
    display: inline-block;
}

#posts_list_div #all_posts {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.post {
    margin-bottom: 1px;
    padding: 20px;
    background-color: #f8f8f8;
    font-family: 'Open Sans', sans-serif;
}

.post.active {
    background-color: #E3EFFF;
}

.post:hover:not(.active) {
    background-color: #f0f0f0;
    cursor: pointer;
}

.post_header {
    font-size: 16px;
    vertical-align: top;
    font-style: italic;
}

.post_subreddit {
    margin-top: 10px;
    font-weight: lighter;
}

.post_subreddit a {
    text-decoration: none;
}

.post_subreddit a:hover {
    font-weight: normal;
}

.post_subreddit.worldnews a {
    color: #4183D7;
}

.post_subreddit.news a {
    color: #EB974E;

}

.post_subreddit.science a {
    color: #3FC380;

}

.post_subreddit.tech a {
    color: #D64541;
}

#load-more-posts {
    height: 100px;
}

#load-more-posts #loading-spinner-posts {
    top: auto;
    margin-top: 40px;
}


/* ARTICLE DIV */

#article_div {
    position: absolute;
    display: inline-block;
    background-color: #fff;
    width: 700px;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
}

#go-back-to-posts {
    display: none;
}

#go-back-to-posts a {
    color: #2850BF;
}

#article_div .scroll-container {
    width: 100%;
}

#article_div #article {
    display: block;
    padding: 10px 20px;
    max-width: 800px;
    z-index: 90;
}

#article_div #article #article-title {
    margin-top: 0;
}

#article_div #article img {
    max-width: 98%;
    height: auto;
}

#article_div #article #article-text {
    line-height: 150%;
    margin-top: 20px;
}

#article_div #article #article-text * {
    font-size: 16px;
}

.cover_article-div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding-left: 15px;
    background-color: #fff;
}

#article_div #loading-screen {
    background-color: #fff;
    display: none;
}

#article_div #error_display {
    display: none;
    font-style: italic;
}


/* MEDIA QUERIES */

@media (max-width: 970px) {
    header ul li {
        padding: 0 10px;
    }

    #posts_list_div {
        display: inline-block;
    }

    #posts_list_div #all_posts .post {
        padding: 20px 10px;
    }

    #tldr .tooltip-content {
        margin: 20px 0 20px -170px;
        width: 400px;
    }

    #article_div {
        display: inline-block;
    }

    #article_div #article {
        padding: 10px 10px;
    }

    #go-back-to-posts {
        display: none;
    }
}

@media (max-width: 670px) {
    #posts_list_div #all_posts .post.active {
        background-color: #f8f8f8;
    }

    #posts_list_div #all_posts .post.active:hover {
        cursor: pointer;
        background-color: #f0f0f0;
    }

    #posts_list_div .scroll-container {
        width: 100%;
    }

    #article_div {
        left: 0;
        display: none;
    }

    #tldr .tooltip-content {
        margin: 20px 0 20px -240px;
        width: 300px;
    }

    #go-back-to-posts {
        display: inline-block;
    }

    #goto-article {
        margin-left: 5px;
    }
}
