<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Alien News</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
	<div id="content">
		<div id="posts_list_div">
			<header>
				<ul id="posts_header">
					<li id="sidebar_button">Menu</li>
				</ul>
			</header>

			<div class="invisible_space"></div>

			{% for post in post_list %}
			<div class="post" data-url="{{ post.url }}">
				<div class="post_header">
					<h3>{{ post.reddit_title }}</h3>
				</div>
			</div>
			{% endfor %}
		</div>
		<div id="article_div">
			<div id="article_content">
				<h2>{{ article.title }}</h2>
			</div>
		</div>
	</div>

	<!-- SIDEBAR (hides on default) -->
	<section id="sidebar">
		<div id="close_button">CLOSE</div>
		<ul class="menu">
			<li><a href="{{ url_for('homepage') }}">Home</a></li>
			{% if 'email' in session %}
			<li><a href="{{ url_for('profile') }}">Profile</a></li>
			<li><a href="{{ url_for('signout') }}">Sign Out</a></li>
			{% else %}
			<li><a href="{{ url_for('signup') }}">Sign Up</a></li>
			<li><a href="{{ url_for('signin') }}">Sign In</a></li>
			{% endif %}
		</ul>
	</section>

	<script type="text/javascript">
		// updates what article is viewed
		$(".post").on('mousedown', function(){
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
			$.getJSON($SCRIPT_ROOT + '/article', {
		        url: $(this).attr("data-url")
		    }, function(data) {
		        console.log(data.result);
		    });

			// var url = $(this).attr("data-url");
			// var get_url = "http://127.0.0.1:5000/article/" + url
			
			// var xmlHttp = null;
			// xmlHttp = new XMLHttpRequest();
			// xmlHttp.open("GET", get_url, true);
			// xmlHttp.send();
			// console.log(xmlHttp.responseText);
			// return xmlHttp.responseText;

		});
	</script>
</body>
</html>