<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>READit</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tooltip-classic.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loading-spinner.css') }}">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery.js') }}">\x3C/script>')</script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
	<div id="content">
		<div id="posts_list_div">
		
			<header id="header-posts">
				<ul>
					<!-- <li id="sidebar_button">Menu</li> -->
					<li>
						<img alt="Reddit Reader" src="{{ url_for('static', filename='logo.png') }}" id="logo-img">
					</li>
				</ul>
			</header>
			<div class="invisible_space"></div>

			<div class="scroll-container">
				<ul id="all_posts" class="infinite-container">
					{% for post in post_list %}
					{% if post.isActive %}
					<li class="post active infinite-item" data-url="{{ post.url }}">
					{% else %}
					<li class="post infinite-item" data-url="{{ post.url }}">
					{% endif %}
						<div class="post_header">{{ post.reddit_title }}</div>
						{% if post.subreddit == 'worldnews' %}
						<div class="post_subreddit worldnews">
							<a href="https://www.reddit.com/r/worldnews"><i class="fa fa-globe"></i><span>r/worldnews</span></a>
						</div>
						{% elif post.subreddit == 'news' %}
						<div class="post_subreddit news">
							<a href="https://www.reddit.com/r/news"><i class="fa fa-newspaper-o"></i><span>r/news</span></a>
						</div>
						{% elif post.subreddit == 'science' %}
						<div class="post_subreddit science">
							<a href="https://www.reddit.com/r/science"><i class="fa fa-flask"></i><span>r/science</span></a>
						</div>
						{% elif post.subreddit == 'tech' %}
						<div class="post_subreddit tech">
							<a href="https://www.reddit.com/r/tech"><i class="fa fa-rocket"></i><span>r/tech</span></a>
						</div>
						{% endif %}
					</li>
					{% endfor %}
				</ul>
				<div id="load-more-posts"></div>
			</div>
		</div>

		<div id="article_div">
			<header id="header-article">
				<ul>
					<li id="goto-article">
						<a href="{{ article.url }}">
							<i class="fa fa-share"></i>
							<span>View Article</span>
						</a>
					</li>
					<li id="tldr">
						<span class="tooltip tooltip-effect-1">
							<i class="fa fa-book"></i>
							<span class="tooltip-item">TLDR</span>
							<span class="tooltip-content clearfix">
								<span class="tooltip-text" id="tldr-text">{{ article.summary }}</span>
							</span>
						</span>
					</li>
				</ul>
			</header>
			<div class="invisible_space"></div>

			<div class="scroll-container">
				<div id="article">
					<h2 id="article-title">{{ article.title }}</h2>
					<img id="article-image" src="{{ article.image }}">
					<div id="article-text">{{ article.text|safe }}</div>
				</div>

				<!-- LOADING SPINNER: from http://codepen.io/cmslewis/pen/vosDj -->
				<div id="loading-screen" class="cover_article-div">
					<div class="loading-spinner">
						<div class="dot dotOne"></div>
						<div class="dot dotTwo"></div>
						<div class="dot dotThree"></div>
					</div>
				</div>

				<div id="error_display" class="cover_article-div">
					<h2>Could not load article!</h2>
				</div>
			</div>
		</div>
	</div>

	<!-- SIDEBAR (hides on default) -->
	<!--<section id="sidebar">
		<div id="close_button">CLOSE</div>
		<ul class="menu">
			<li><a href="{{ url_for('homepage') }}">Home</a></li>
		</ul>
	</section>-->

	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
	<script type="text/javascript">
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

		var waypoints;

		// create waypoint for loading more posts
		function create_waypoint() {
			waypoints = $("#load-more-posts").waypoint({
				handler: function() {
					append_posts();
				},
				offset: 'bottom-in-view',
				context: $("#posts_list_div .scroll-container")
			})
		}

		// updates what article is viewed
		$(document).on('click', '.post', function() {
			// show loading screen before ajax request completes
			$("#loading-screen").show();

			// css changes to active post
			$(".post").removeClass("active");
			$(this).addClass("active");

			// get request to get article content from server
			$.ajax({
				type: "GET",
				url: $SCRIPT_ROOT + "/article",
				contentType: "application/javascript",
				dataType: "jsonp",
				data: {url: $(this).attr("data-url")},
				crossDomain: true
			}).done(function(data) {
				$("#loading-screen").hide();
		    	$("#error_display").hide();
				$("#article-image").attr("src", data.result['image']);
		    	$("#goto-article a").attr("href", data.result['url']);
		    	$("#article-title").html(data.result['title']);
		    	$("#article-text").html(data.result['text']);
		    	$("#tldr-text").html(data.result['summary']);
			}).fail(function() {
				$("#loading-screen").hide();
				$("#error_display").show();
			});

		    // scroll window to top and hide loading screen
		    $("#article_div").scrollTop(0);
		});

		// function call that makes gets more posts
		function append_posts() {
			$.ajax({
				type: "GET",
				url: $SCRIPT_ROOT + "/load-more",
				contentType: "application/javascript",
				dataType: "jsonp",
				crossDomain: true
			}).done(function(data) {
				// store scrollTop value
				pos = $("#posts_list_div .scroll-container").scrollTop();

				// append html content
				html = ""
				var posts = data.result['posts'];
				for (var i = 0; i < posts.length; i++) {
					post = posts[i]
					post_html = "<li class='post infinite-item' data-url='" + post.url + "'>"
						+ "<div class='post_header'>" + post.reddit_title + "</div>";

					if (post.subreddit == 'worldnews') {
						post_html = post_html + "<div class='post_subreddit worldnews'>"
											  + "<a href='https://www.reddit.com/r/worldnews'>"
											  + "<i class='fa fa-globe'></i><span>r/worldnews</span></a></div></li>";
					} else if (post.subreddit =='news') {
						post_html = post_html + "<div class='post_subreddit news'>"
											  + "<a href='https://www.reddit.com/r/news'>"
											  + "<i class='fa fa-newspaper-o'></i><span>r/news</span></a></div></li>";
					} else if (post.subreddit == 'science') {
						post_html = post_html + "<div class='post_subreddit science'>"
											  + "<a href='https://www.reddit.com/r/science'>"
											  + "<i class='fa fa-flask'></i><span>r/science</span></a></div></li>";
					} else if (post.subreddit == 'tech') {
						post_html = post_html + "<div class='post_subreddit tech'>"
											  + "<a href='https://www.reddit.com/r/tech'>"
											  + "<i class='fa fa-rocket'></i><span>r/tech</span></a></div></li>";
					}
					html = html + post_html;
					$("#posts_list_div .scroll-container").scrollTop(pos);
				}
				Waypoint.destroyAll();			// destroys waypoint, but we'll recreate it
				$("#all_posts").append(html);	// updates DOM

				// only recreate waypoint if there are more posts to load
				if (!data.result['error']) {
					create_waypoint();
				}
			}).fail(function() {
				console.log("Failed to load more posts.");
			});
		}

		create_waypoint();

	</script>
</body>
</html>