@font-face {
    font-family: OpenSans;
    src: url(fonts/Open_Sans);
}

body {
	background-color: #f8f8f8;
    font-family: OpenSans;
    margin: 0;
    overflow: hidden;
}

.invisible_space {
    height: 60px;
}

/* SIDEBAR */

#sidebar {
    display: none;
    height: 100%;
    background-color: #222;
    position: absolute;
    top: 0;
    width: 200px;
}

#sidebar #close_button {
    height: 60px;
    line-height: 60px;
    background-color: #E23B4D;
    color: #fff;
    padding-left: 15px;
    font-weight: bold;
    cursor: pointer;
}

#sidebar #close_button:hover {
    background-color: #F94B35;
}

.menu {
    height: 40px;
    padding: 0;
}

.menu li {
    height: 100%;
    line-height: 40px;
    list-style: none;
    padding-left: 15px;
}

.menu li a {
    color: #366BFF;
    text-decoration: none;
}

.menu li a:hover {
    color: #4817CC;
}

header {
    height: 60px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
}

header ul {
    height: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
}

header ul li {
    text-decoration: none;
    line-height: 60px;
    padding: 0 10px;
    color: #366BFF;
    font-weight: bold;
}

header ul li:hover {
    color: #4817CC;
    cursor: pointer;
}

/* POSTS */
#content {
    font-family: OpenSans;
    display: inline-block;
    top: 0;
}

#posts_list_div {
    position: absolute;
    display: inline-block;
    overflow: scroll;
    top: 0;
    height: 100%;
}

.post {
	margin-bottom: 1px;
	padding: 5px;
	/*background-color: #fff;*/
	font-weight: lighter;
}

.post.active {
	background-color: #fff;
}

.post:hover {
    background-color: #E3EFFF;
    cursor: pointer;
}

.post_header * {
	display: inline-block;
}

.post_header h3 {
	font-size: 16px;
    font-weight: normal;
	vertical-align: top;
}

.post_header img {
	max-width: 200px;
}

#article_div {
    position: absolute;
    display: inline-block;
    background-color: #fff;
    width: 700px;
    height: 100%;
    right: 0;
    overflow: scroll;
    top: 0;
    border-left: 1px solid #eee;
    padding: 10px;
}

#article_content {

}
