<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Alien News</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tooltip-classic.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
	<div id="content">
		<div id="posts_list_div">
		<!--
			<header>
				<ul id="posts_header">
					<li id="sidebar_button">Menu</li>
				</ul>
			</header>

			<div class="invisible_space"></div>
			-->

			{% for post in post_list %}
			{% if post.isActive %}
			<div class="post active" data-url="{{ post.url }}">
			{% else %}
			<div class="post" data-url="{{ post.url }}">
			{% endif %}
				<div class="post_header">{{ post.reddit_title }}</div>
			</div>
			{% endfor %}
		</div>

		<div id="article_div">
			<header id="header-article">
				<ul>
					<li id="goto-article"><a href="{{ article.url }}">View Article</a></li>
					<li id="tldr">
						<span class="tooltip tooltip-effect-1">
							<span class="tooltip-item">TLDR</span>
							<span class="tooltip-content clearfix">
								<span class="tooltip-text" id="tldr-text">{{ article.summary }}</span>
							</span>
						</span>
					</li>
				</ul>
			</header>
			<div class="invisible_space"></div>

			<div id="article">
				<h2 id="article-title">{{ article.title }}</h2>
				<img id="article-image" src="{{ article.image }}">
				<div id="article-text">{{ article.text|safe }}</div>
			</div>

			<div id="error_display">
				<h2>Could not load article!</h2>
			</div>
		</div>
	</div>

	<!-- SIDEBAR (hides on default) -->
	<!--<section id="sidebar">
		<div id="close_button">CLOSE</div>
		<ul class="menu">
			<li><a href="{{ url_for('homepage') }}">Home</a></li>
		</ul>
	</section>-->

	<script type="text/javascript">
		// updates what article is viewed
		$(".post").on('mousedown', function(){
			// loading screen
			$("article_div #loading-screen").show();

			// css changes
			$(".post").removeClass("active");
			$(this).addClass("active");

			// sends request to flask app to show article content w/o page reload
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
			$.getJSON($SCRIPT_ROOT + '/article', {
		        url: $(this).attr("data-url")
		    }, function(data) {
		    	$("#error_display").hide();
		    	$("#article-image").attr("src", data.result['image']);
		    	$("#goto-article a").attr("href", data.result['url']);
		    	$("#article-title").html(data.result['title']);
		    	$("#article-text").html(data.result['text']);
		    	$("#tldr-text").html(data.result['summary']);
		    }).fail(function(data){
		    	$("#error_display").show();
		    });

		    // scroll window to top and hide loading screen
		    $("#article_div").scrollTop(0);
		});
	</script>
</body>
</html>